{% extends "base.html" %}

{% block content %}
    <center>
        <div class="fake_card col-md-7 align_left p-2">
            <span><h1>{{ user.name }}</h1>{% if user.is_admin %}<h3><b>ADMIN</b></h3>{% endif %}</span><br>
            <h5>
                Favourites: {{ user.len_lib() }}<br>
                Apps published: {{ user.len_app() }}
            </h5>
        </div>
    </div>
    <br>
        {% if apps %}
            <h3>User apps:</h3>
                <div class="col-md-7 align_left">
                    {% for app in apps %}
                        {% include 'miniapps/_app.html' %}<br>
                    {% endfor %}
                </div>
        {% else %}
            <h3>This user has no apps.</h3>
        {% endif %}
        ---<br>
        <a href="/copyrights">copyrights</a>
    </center>
{% endblock %}