{% extends "base.html" %}

{% block content %}
    <div class="center_content pb-2">
        <div class="dark_card col-md-4 center_content top_menu">
            <a class="light_link waves-effect waves-light {% block home %}{% endblock %}" href="/">Home</a>
            <a class="light_link waves-effect waves-light {% block new %}{% endblock %}" href="/new">New</a>
            <a class="light_link waves-effect waves-light {% block trend %}{% endblock %}" href="/trending">Trending</a>
            <a class="light_link waves-effect waves-light {% block search %}{% endblock %}" href="/search" style="padding-top: 1.3rem;"><span class="ti ti-search"></span></a>
        </div>
    </div>
    {% block homecontent %}
        {% endblock %}

{% endblock %}