<div class="dark_card card_hoverable p-2">
    <div class="col-md-2" style="max-width: 6rem;">
        <a href="/apps/app/{{ app.id }}">
            <img class="app_image" src="{{ app.small_icon }}" alt="{{ app.name }}">
        </a>
    </div>
    <div class="col-md-4">
    <a class="light_text {% if not app.is_published %}red_text{% endif %}" href="/apps/app/{{ app.id }}">
        <h2>{{ app.name }}</h2>
    </a>
        {% for tag in app.tags %}<a class="small_tag" href="#">&nbsp;{{ tag }}</a>{% endfor %}
    </div>
</div>