{% extends 'admin/adminbase.html' %}

{% block apps_chose %}chosed_link{% endblock %}

{% block admcontent %}
    <div class="center_content py-4">
        <div class="col-md-5 dark_card p-3 card_downflex" style="min-width: 30%">
            <h1>id{{ app.id }}</h1>
        <form method="POST" action="/admin/app?id={{ app.id }}">
            <label for="name" class="thin_text">Name</label>
            <input class="lineedit_outline" value="{{ app.name }}" type="text" name="name" autofocus="" style="width: 100%"><br><br>
            <label for="email" class="thin_text">Email</label>
            <input class="lineedit_outline" value="{{ user.email }}" type="email" name="email" autofocus="" style="width: 100%"><br><br>
            <label for="apps" class="thin_text">Apps</label>
            <input class="lineedit_outline" value="{{ user.apps }}" type="text" name="apps" autofocus="" style="width: 100%"><br><br>
            <label for="favourites" class="thin_text">Favourites</label>
            <input class="lineedit_outline" value="{{ user.favourites }}" type="text" name="favourites" autofocus="" style="width: 100%"><br><br>
            <table width="30%">
                    <tr>
                        <td><input type="checkbox" id="is_published" name="is_published" {% if app.is_published %}checked{% endif %}><span></span></td>
                        <td><label for="is_admin" class="py-0">Admin</label></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" id="is_banned" name="is_banned" {% if user.is_banned %}checked{% endif %}><span></span></td>
                        <td><label for="is_admin" class="py-0">Banned</label></td>
                    </tr>
                </table><br>
        <button class="mysh_btn light_btn" style="width: 30%">Save</button>
        </form>
        </div>
    </div>
{% endblock %}