html, body, #wrapper {
    width: 100%;
    min-height: 100%;
}
a {
    text-decoration: none;
    color: #3FA7FD;
}

::-moz-selection {
    color: #FAFAFA;
    background: #151515;
}
::selection {
    color: #FAFAFA;
    background: #151515;
}
.dark_page {
    background-color: #202124;
    color: #FAFAFA;
}


.mysh_btn {
    background-color: #151515;
    border-radius: 3px;
    border: 1px #0E0E0E;
    padding: 0.6rem;
    color: #FAFAFA;
    -webkit-transition-duration: 0.17s;
    transition-duration: 0.17s;
}
.mysh_btn:hover {
    background-color: #28282A;
}
.mysh_btn_outline {
    background-color: transparent;
    border-radius: 3px;
    border: 0.1rem #1A1A1C solid;
    padding: 0.5rem;
    color: #151515;
    -webkit-transition-duration: 0.17s;
    transition-duration: 0.17s;
}
.mysh_btn_outline:hover {
    background-color: rgba(21, 21, 21, .08);
}

.btn_default {}
.light_btn {
    background-color: #CCD2DA;
    color: #202124;
}
.light_btn:hover {
    background-color: #9A9EA5;
}
.light_outline {
    border: 0.1rem #CCD2DA solid;
    color: #CCD2DA;
}
.light_outline:hover {
    background-color: rgba(154, 158, 160, .08);
}



.selected {
    background-color: #151515;
    color: #FAFAFA;
    border-radius: 1px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

.mysh_nav {
    background-color: #FCFCFC;
    box-shadow: 0 1px 1px 0 #E6E6E6;
}
.navbar_dark {
    background-color: #2B2C30;
    box-shadow: 0 1px 1px 0 #2B2C30;
}
.black_navlink, .black_navlink:hover, .black_navlink:focus{
    color: #151515;
    padding-left: .8rem;
    padding-right: .8rem;
}
.light_navlink, .light_navlink:hover, .light_navlink:focus{
    color: #FAFAFA;
    padding: .48rem .4rem .1rem;
    height: 100%;
    vertical-align: middle;
    display: block;

}
.light_link{
    color: #FAFAFA;
    padding: 1rem .8rem 1rem;
    height: 100%;
    vertical-align: middle;
	border-radius: 3px;
}
.light_link:hover, .light_link:focus {
    color: #FAFAFA;
    -webkit-transition-duration: 0.17s;
    transition-duration: 0.17s;
    background-color: rgba(0, 0, 0, .08);
}
.chosed_link {
	background-color: rgba(0, 0, 0, .20);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 20%);
    border-radius: 3px;
}
.center_content {
    display: flex;
    justify-content: center;
}

.mysh_btn_2 {
    background-color: #151515;
    border-radius: 3px;
    border: .1rem #0E0E0E solid;
    padding: .5rem;
    color: #FAFAFA;
    -webkit-transition-duration: 0.17s;
    transition-duration: 0.17s;
}
.mysh_btn_2:hover {
    background-color: #FAFAFA;
    color: #28282A;
    border: .1rem #F1F1F1 solid;
}
.mysh_btn_outline_2 {
    background-color: transparent;
    border-radius: 3px;
    border: 0.1rem #1A1A1C solid;
    padding: 0.5rem;
    color: #151515;
    -webkit-transition-duration: 0.17s;
    transition-duration: 0.17s;
}
.mysh_btn_outline_2:hover {
    background-color: #151515;
    border-radius: 3px;
    border: .1rem #0E0E0E solid;
    color: #FAFAFA;
}

.lineedit_outline {
    background-color: rgba(154, 158, 160, .08);
    border: transparent solid;
    border-radius: 3px;
    padding: 0.4rem;
    color: #F0F0F0;
    -webkit-transition-duration: 0.17s;
    transition-duration: 0.17s;
}
.lineedit_outline:focus {
    outline: none;
    border-radius: 3px;
    border-bottom: 0.1rem #CCD2DA;
    /*padding: 0.4rem;*/
    /*padding-bottom: ;*/
    border-style: solid;
    box-sizing: border-box;
}


.dark_card {
    background-color: #2D2E32;
    box-shadow: 0 1px 2px 0 #2F3132;
    border-radius: 3px;
    display: flex;
}

.card_downflex {
    display: flex;
    flex-direction: column;
}

.row_AAA {
    overflow: hidden
}

.card_hoverable:hover {
    -webkit-transition-duration: 0.17s;
    transition-duration: 0.17s;
    box-shadow: 0 1px 3px 0 #383B3C;
}
.card_img {
    border-radius: 7px;
    background-color: rgba(154, 158, 160, .06);
}


input[type=checkbox] {
  cursor: pointer;
  height: 30px;
  margin:4px 0 0;
  position: absolute;
  opacity: 0;
  width: 30px;
  z-index: 2;
}

input[type=checkbox] + span {
  background: #323337;
  border-radius: 25%;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
  display: inline-block;
  height: 30px;
  margin:4px 0 0;
  position:relative;
  width: 30px;
  transition: all .2s ease;
}

input[type=checkbox] + span::before, input[type=checkbox] + span::after{
  background:#fff;
  content:'';
  display:block;
  position:absolute;
  width:4px;
  transition: all .2s ease;
}

input[type=checkbox] + span::before{
  height:16px;
  left:13px;
  top:7px;
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
}

input[type=checkbox] + span::after{
  height:16px;
  right:13px;
  top:7px;
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
}

input[type=checkbox]:checked + span {
  /*background:#BBC1C8;*/
  /*  color: black;*/
}

input[type=checkbox]:checked + span::before{
  height: 9px;
  left: 9px;
  top: 13px;
  -webkit-transform:rotate(-47deg);
  transform:rotate(-47deg);
}

input[type=checkbox]:checked + span::after{
  height: 15px;
  right: 11px;
  top: 8px;
}

.thin_text {
    font-size: 90%;
}

.ti-2x {
    font-size: 260%;
}
.ti-5x {
    font-size: 500%;
}
.light_text, .light_text:hover, .light_text:focus {
    color: #F0F0F0;
}
.blacking {
    background-color: rgba(21, 21, 21, .2);
}
.admin_table {
    max-width: 100%;
    overflow-x: auto;
}
.app_image {
    border-radius: 7px;
    background-color: #27282B;
}
.big_text {
    border-radius: 2px;
    background-color: #27282B;
    padding: 0.4rem;
}