{% extends 'base.html' %}
{% block content %}
<div class="px-5 py-3">
    <h1>Components test</h1><br>
    <button class="mysh_btn btn_default">Aliquam efficitur</button>
    <button class="mysh_btn light_btn">Lacinia enim</button>
    <button class="mysh_btn_outline light_outline">Sed luctus </button>
    <br><br>
    <input type="text" placeholder="Write something here" class="lineedit_outline">
    <br><br>
    <div class="dark_card p-4 col-md-7 card_downflex">
        <h3>Are you sure?</h3><br>
        <div class="row_AAA">
        <button class="mysh_btn light_btn">&nbsp;&nbsp;&nbsp;Yes&nbsp;&nbsp;&nbsp;</button>
        &nbsp;
        <button class="mysh_btn btn_default">&nbsp;&nbsp;&nbsp;No&nbsp;&nbsp;&nbsp;</button></div>
    </div><br>
    <div class="row px-3">
    <div class=" card_hoverable p-2 pb-3 col-md" style="max-width:200px;padding-top:100%;">
            <img src="http://jointprojects.tk/apps/5/icon128.png" class="card_img">
            <h4>Unknown app</h4>
            <span style="font-size: 70%; color: #F1F1F1">unknown publisher &nbsp; 5.6mb</span>
    </div>
        &nbsp;&nbsp;&nbsp;
    <div class=" card_hoverable p-2 pb-3 col-md" style="max-width:200px;padding-top:100%;">
            <img src="http://jointprojects.tk/apps/1/icon128.png" class="card_img">
            <h4>Unknown app</h4>
            <span style="font-size: 70%; color: #F1F1F1">unknown publisher &nbsp; 5.6mb</span>
    </div>&nbsp;&nbsp;&nbsp;
    <div class="card_hoverable p-2 pb-3 col-md" style="max-width:200px;padding-top:100%;">
            <img src="http://jointprojects.tk/apps/2/icon128.png" class="card_img">
            <h4>Unknown app</h4>
            <span style="font-size: 70%; color: #F1F1F1">unknown publisher &nbsp; 5.6mb</span>
    </div>
        </div>
    <div class="row">
        <input type="checkbox" id="sus"/>
        <span><label for="sus"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a</label></span>
    </div>

</div>
{% endblock %}