{% extends "base.html" %}

{% block content %}
    <div class="center_content pb-2">
        <div class="dark_card col-md-4 center_content top_menu">
            <a class="light_link waves-effect waves-light">Home</a>
            <a class="light_link waves-effect waves-light chosed_link">Trending</a>
            <a class="light_link waves-effect waves-light">My apps</a>
            <a class="light_link waves-effect waves-light" style="padding-top: 1.3rem;"><span class="ti ti-search"></span></a>
        </div>
    </div>
    <div class="px-5">
        <h1>New apps</h1>
        <div class="px-2 p-1" style="overflow-x: auto; display: flex;max-width: 100%;">
            {% for app in new_apps %}
                {% include 'miniapps/_app_front.html' %}
            {% endfor %}
        <a class="card_hoverable p-2 pb-3 col-md center_content light_text" style="max-width:200px; padding-top:100%;"><i class="ti ti-dots ti-5x"></i></a>
        </div>
    </div>

{% endblock %}