{% extends "base.html" %}

{% block content %}
    <div class="center_content pb-2">
        <div class="dark_card col-md-4 center_content" style="max-width: 20rem">
            <a class="light_link waves-effect waves-light">Home</a>
            <a class="light_link waves-effect waves-light chosed_link">Trending</a>
            <a class="light_link waves-effect waves-light">My apps</a>
            <a class="light_link waves-effect waves-light" style="padding-top: 1.3rem;"><span class="ti ti-search"></span></a>
        </div>
    </div>
    <div class="px-5">
        <h1>New apps</h1>
        <div class="row px-2">
            {% for i in [1, 2, 3, 4, 5] %}
                <div class="card_hoverable p-2 pb-3 col-md" style="min-width: 150px;max-width:200px;padding-top:100%;">
                    <img src="http://jointprojects.tk/apps/{{ i }}/icon128.png" class="card_img">
                    <h4>Unknown app</h4>
                    <span style="font-size: 70%; color: #F1F1F1">unknown publisher &nbsp; 5.6mb</span>
                </div>
            {% endfor %}
        <a class="card_hoverable p-2 pb-3 col-md center_content light_text" style="max-width:200px; padding-top:100%;"><i class="ti ti-dots ti-5x"></i></a>
        </div>
    </div>

{% endblock %}