{% extends "base.html" %}

{% block content %}
<div class="center_content ">
    <div class="col-md-3 dark_card p-3" style="min-width: 30%">
        <form method="POST" action="/signup" style="width: 100%">
            <h3 class="title">Sign Up</h3><br>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                        <b>{{ messages[0] }}</b><br><br>
                {% endif %}
            {% endwith %}
            <label for="email" class="thin_text">Email</label>
        <input class="lineedit_outline" type="email" name="email" placeholder="Email" autofocus="" style="width: 100%">
            <br><br>
            <label for="name" class="thin_text">Name</label>
        <input class="lineedit_outline" type="text" name="name" placeholder="Name" autofocus="" style="width: 100%"><br><br>

            <label for="email" class="thin_text">Password</label>
        <input class="lineedit_outline" type="password" name="password" placeholder="Password" style="width: 100%"><br><br>
            <label for="email" class="thin_text">Repeat password</label>
        <input class="lineedit_outline" type="password" placeholder="Repeat password" style="width: 100%"><br><br>

        <button class="mysh_btn light_btn" style="width: 30%">Sign Up</button>&nbsp; or <a href="/login">log in</a>
        </form>
    </div>
</div>
{% endblock %}