{% extends 'base.html' %}
{% block content %}
    <div class="px-1">
        <div class="col-md-9">
            <div class="row row_AAA" style="max-width: 100%; position: relative">
                <div class="col-4" style="max-width: 20rem;"><img src="{{ app.huge_icon }}" class="card-img app_image"></div>
                <div class="col-6">
                    <h1>{{ app.name }}</h1>
                    <b>ver. {{ app.version }} {% if not app.is_published %}(NOT PUBLISHED){% endif %}</b><br><br>
                    <div style="position: absolute;right: 0rem; bottom: 0">
                        {% if current_user.is_authenticated and app.is_published %}
                            {% if app.id not in current_user.library %}
                                <a href="/apps/add/{{ app.id }}" class="mysh_btn light_btn download_btn">Add to library</a>
                            {% else %}
                                <a href="{{ app.download_link }}" download="download" class="mysh_btn light_btn download_btn">Download</a>
                            {% endif %}
                        {% endif %}</div>
                    </div>
            </div></div><br>
    </div>
        <div class="col-md-9 px-3">
            <h2>About this app</h2>
            <div class="dark_card big_text p-2 row">
            <div class="col-md"><h4>Downloads</h4>{{ app.downloads }}</div>&nbsp;
            <div class="col-md"><h4>Publisher</h4>{{ app.publisher_name }}</div>&nbsp;
            <div class="col-md"><h4>Weight</h4>{{ app.weight }}</div>&nbsp;
            <div class="col-md"><h4>Platform</h4>{% if not app.platform %}PC{% else %}Android{% endif %}</div>
        </div><br>
        <h3>Description</h3>
            <div class="px-2 big_text">{% for text in app.broken() %}<span>{{ text }}</span><br>{% endfor %}</div><br>
        {% if app.screenshots  %}
            <h3>Screenshots</h3>
            <div class="dark_card big_text" style="overflow-x: auto">
                {% for screen in app.screenshots %}
                    <a href="{{ screen }}" target="_blank">
                        <div class="pl-2 pr-2">
                            <img src="{{ screen }}" alt="screen" style="max-width: 300px; max-height: 300px">
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}

        <h2>User reviews:</h2>
            <div class="big_text">
            <center class="py-2">
                <a class="mysh_btn light_text btn_default" href="/apps/review/{{ app.id }}" style="padding-left: 30%;padding-right: 30%;">Write a review</a><br><br>
            </center>
                {% for review in reviews %}
                    <div class="fake_card dark_fake_card">
                        <h3><a href="/profile/{{ review[1] }}">{{ review[0] }}</a>'s review</h3><br>
                        {{ review[2] }}
                    </div><br>
                {% endfor %}
            </div>
        </div><br><br>
{% endblock %}